<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<center>
    <h2 style="margin-top: 300px;">Thanks for using this app. You have been logged out</h2>
    <div class="pt-3">
        <small class="text_muted">
                <a href="{% url 'users:login' %}" class="btn btn-primary">LOGIN HERE</a>
        </small>
    </div>
    <br> <br> <br> <br>
    <h1>Developed By</h1>
        <h5><a href="https://github.com/mahfuz1703" target="_blank">Mohammad Mahfuz</a></h5>
        <h5><a href="https://github.com/aishaker129" target="_blank">Akhlakul Islam Shaker</a></h5>
        <h5><a href="" target="_blank">Rahimur Rahman Showrab</a></h5>
        <h5><a href="" target="_blank">Safi Ahmed Rakib</a></h5>
</center>
</body>
</html>